<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :part_code %>
    <%= form.text_field :part_code, id: :part_part_code %>
  </div>

  <div class="field">
    <%= form.label :qty_returned %>
    <%= form.text_field :qty_returned, id: :part_qty_returned %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.number_field :invoice_id, id: :part_invoice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
