<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :issue_category %>
  </div>

  <div class="field">
    <%= form.label :issue %>
    <%= form.text_field :issue, id: :issue_issue %>
  </div>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.number_field :invoice_id, id: :issue_invoice_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
