<p id="notice"><%= notice %></p>

<h1>Invoice: <%= @invoice.invoice_number %></h1>
<h2>Category: <%= @issue.category %></h2>
<h2>Issue: <%= @issue.issue %></h2>
<h3>Parts</h3>
<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Part Code</th>
      <th>Qty Returned</th>
    </tr>
  </thead>
    <tbody>
      <% @issue.parts.each do |p| %>
      <tr>
        <td><%= p.part_code %></td>
        <td><%= p.qty_returned %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Add Part', new_part_issue_path %>
<%= link_to 'List', invoice_path %>
