<%= form_for @part_issue do |f| %>
  <% if @issue %>
    <%= f.label "Issue " + @issue.issue %>
    <%= f.radio_button "issue_id", @issue.id, checked:true  %>
    <%= f.label "Parts" %>
    <%= f.collection_radio_buttons(:part_id, @parts, :id, :part_code) %>
  <% else %>
    <%= f.label "Part " + @part.part_code %>
    <%= f.radio_button "part_id", @part.id, checked:true  %>
    <%= f.label "Issues" %>
    <%= f.collection_radio_buttons(:issue_id, @issues, :id, :issue) %>
  <% end %>
  <%= f.label "Pictures" %>
  <%= f.file_field :pictures %> </td>
  <%= f.label "Notes" %>
  <%= f.text_field :notes %>
  <%= f.submit %>
<% end %>
