<p id="notice"><%= notice %></p>

<h1>Part Issues</h1>

<table>
  <thead>
    <tr>
      <th>Pictures</th>
      <th>Notes</th>
      <th>Part</th>
      <th>Issue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_issues.each do |part_issue| %>
      <tr>
        <td><%= part_issue.pictures %></td>
        <td><%= part_issue.notes %></td>
        <td><%= part_issue.part_id %></td>
        <td><%= part_issue.issue_id %></td>
        <td><%= link_to 'Show', part_issue %></td>
        <td><%= link_to 'Edit', edit_part_issue_path(part_issue) %></td>
        <td><%= link_to 'Destroy', part_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part Issue', new_part_issue_path %>
