<p id="notice"><%= notice %></p>

<h1>Complaints</h1>
<h2>Invoice : <%= @invoice.invoice_number %></h2>

<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th>Part</th>
      <th>Issue</th>
      <th>Notes</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @part_issues.each do |pi| %>
      <tr>
        <td><%= pi.part.part_code %></td>
        <td><%= pi.issue.issue %></td>
        <td><%= pi.notes %></td>
        <td><%= link_to 'Show', pi %></td>
        <td><%= link_to 'Edit', edit_part_issue_path(pi) %></td>
        <td><%= link_to 'Delete', pi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_part_issue_path %>
