<h1>Invoice: <%= @invoice.invoice_number %></h1>
<h2>Part Code: <%= @part_issue.part.part_code %></h2>
<h2>Issue: <%= @part_issue.issue.issue %></h2>
<h3>Pictures: <%= @part_issue.pictures %></h2>
<h3>Notes: <%= @part_issue.notes %></h2>

<%= link_to 'List', part_issues_path %>
