<p id="notice"><%= notice %></p>

<p>
  <strong>Pictures:</strong>
  <%= @part_issue.pictures %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @part_issue.notes %>
</p>

<p>
  <strong>Part:</strong>
  <%= @part_issue.part_id %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @part_issue.issue_id %>
</p>

<%= link_to 'Edit', edit_part_issue_path(@part_issue) %> |
<%= link_to 'Back', part_issues_path %>
